/* common styles */
* {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

section {
    margin-bottom: 128px;
}

.btn-primary {
    color: white;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
}

.des-primary {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px auto;
    max-width: 600px;

}

.title-primary {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
}


/* header section */

header {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 240px 0px 240px;
    margin-bottom: 178px;
}

.header-column-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
    max-width: 700px;
    margin-bottom: 0px;
}

.h-column-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 630px;
    margin: 32px 0px;
}

/* featured flowers section */
.featured-flowers {
    margin: 0px 240px;
    text-align: center;
}

.featured-images-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured-img-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px;
}

.featured-img-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px;
}

.featured-img-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 110px 78px 0px;
}

.featured-img-title {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* hot deal section */
.hotdeal-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.05);
}

.hotdeal-img {
    padding: 100px 430px 100px 186px;
}

.hotdeal-dets {
    padding: 300px 0px 300px 400px;
    text-align: center;
    max-width: 600px;
}

/* social section */
.social-section {
    margin: 0px 240px 128px;
}

.social-section-images {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.social-section-dets {
    text-align: center;
}

/* subscribe section */
.subscribe-section {
    background-image: url("./Flower Asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    margin: 0px 240px 128px;
    text-align: center;
    padding: 120px 287px;
}

.subs-inputs input {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 22px 450px 22px 22px;
    border: 0px;
    margin-right: 16px;
    margin-top: 30px;
}

/* bonus section place order */
.order {
    background-color: rgba(229, 84, 115, 0.10);
    text-align: center;
    padding: 120px 287px;
}
.order form{
    font-size: 20px;
    font-weight: 500;
}

.order form label {
    display: block;
    color: #111010;
    margin:16px;
}
.order form select{
    border: 0px;
    font-size: 20px;
    padding: 20px 50px;
    margin:16px
}
.order form input{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 22px 450px 22px 22px;
    border: 0px;
    margin: 30px 16px;
}

/* footer section */
footer {
    background: #111010;
    padding: 128px 650px;
    text-align: center;
}

.footer-title {
    color: white;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0px;
}

.pink-footer-title {
    color: #E55473;
}

.footer-des {
    margin-top: 0px;
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 0px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}